/* Create three equal columns that float next to each other */
/* bu kısım kopyala yapıştır */
.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


  h1 {color: #630000; font-size: 60px;}
  h2 {text-align: center;color: #678983;}
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  p {display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 80%}


    /* bunlar da kopyala yapıştır */

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      div {
        border-radius: 5px;
        background-color: #EEEBDD;
        padding: 20px;
      }
/* burasını ben uyarladım  */
    #askanything {
        width: 100%;
        padding: 100px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #EEEBDD;
        border-radius: 4px;
        box-sizing: border-box;
    }

    